* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

main {
  background-image: url(../images/katerina-kerd.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/* loaction and date */

.loaction-and-date {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.loaction-and-date .loaction {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.loaction form {
  flex-direction: column;
  row-gap: 1rem;
}

.loaction form label {
  font-size: 1.5rem;
}

.loaction form input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.loaction button {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(10, 70, 57, 0.856);
  color: white;
  cursor: pointer;
}

.loaction button:hover {
  background-color: rgb(10, 70, 57);
}

.loaction button#reset {
  background-color: rgba(220, 20, 60, 0.514);
}

.loaction button#reset:hover {
  background-color: crimson;
}


.loaction-and-date .date {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
  position: relative;
}


.loaction-and-date .date p {
  font-size: 2rem;
}

.loaction-and-date .date h3 {
  font-size: 2rem;
}

/* Times */
.times {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  border-radius: 10px;
  color: white;
}

/* prayers */
.prayers {
  width: 80%;
  height: 100%;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.prayers h2 {
  background-color: rgb(0%, 15%, 26%);
  width: 20%;
  height: 20%;
  padding: 0px 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* clock */
.clock {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}

.time-now {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background-color: rgb(1%, 2%, 6%);
}

.clock h1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


.time-remaining {
  width: 100%;
  height: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 10, 10);
}



